* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }



.display{
  width: 100%;
  float: left; /* también con display: inline;*/
border: thin solid black;
padding: 10px;
}

.Teclas{
  width: 100%;
  float: left; /* también con display: inline;*/
  padding: 10px;
  border: thin solid black;
}

.button{
  width: 20%;
  float: left; /* también con display: inline;*/
border: thin solid black;
padding: 10px;
}
